body {
    background-image:url("");
    background-attachment: fixed;
}

.mainTitle {
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
}

.logo {
    width: 100px;
    height: 100px;
}

.servers {
    margin-bottom: 15px;
}

.marginDown {
    margin-bottom: 15px;
}

.sortable {
    transition: background-color 0.15s;
    background-color: #ffffff;
}

.sortable:hover {
    background-color: #f9f9f9;
}

.hoverColor {
    background-color: #ffffff;
}

.hoverColor:sortable {
    background-color: #f9f9f9;
}

.icon {
    transition: color 0.25s;
    transition: opacity 0.15s;
    opacity: 0;
    color: #969696;
}

.icon:hover {
    color: #2EA2EF;
}

tr:hover .icon { opacity: 1; }

.modal-card {
    width: 700px;
}

.modalBanner {
    padding: 40px;
    background-position: center; 
}

.modalTable {
    margin-left: 15px;
    margin-top: 10px;
}

.modalTableLast {
    margin-bottom: 15px;
}

.modalTitleHeader {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 25px;
    color: #fff;
}

.modalSubtitleHeader {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 25px;
    color: #fff;
}

.modalTitleBody {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 25px;
    color: #000;
}